

    <footer class="footer">
      <div class="container">
        <p class="text-muted">
          <ul class= "footer_list">
        <li>  <%=link_to 'Nosotros', home_about_path %> </li>
        <li>  <%=link_to 'Evendario', root_path %> </li>
        </ul>
        </p>
      </div>
    </footer>
